*.bak
*.stp
*greybox_tmp/*
*/db/*
*/incremental_db/*
*/output_files/*
*.ipinfo
*.qws
*/hc_output/*
*/c5_pin_model_dump.txt
*/greybox_tmp/*
*/.qsys_edit/*
*~
*.rpt
*/hps_isw_handoff/*
*.o
*.cdf
*.f
*.ddb
*.log
*.sopcinfo
pll_20m_sim/*
adcpll/*
adcpll_sim/*
*.qdf
*/PLLJ_PLLSPE_INFO.txt
*/simulation/*
*.BAK.*
*.html
main_hps/*
*.txt
*.out
reduced_hps/*
