*.bak
*.stp
*greybox_tmp/*
*/db/*
*/incremental_db/*
*/output_files/*
*.ipinfo
*.qws
*/hc_output/*
*/c5_pin_model_dump.txt
*/greybox_tmp/*
*/.qsys_edit/*
*~
*.rpt
*/hps_isw_handoff/*
*.o
*.cdf
*.f
*.ddb
*.log
*.sopcinfo
pll_20m_sim/*
adcpll/*
adcpll_sim/*
*.qdf
*/PLLJ_PLLSPE_INFO.txt
*/simulation/*
*.BAK.*
*.html
main_hps/*
*.txt
*.out
reduced_hps/*
hps_rewire_uart/*
.*
*.out.sdc
*.tcl
*.cmd
*.sym
*.cgc
*.sdbl
*.sdbx
*.veo
*.rbf
*.debug
*.html
*.xml
*.xmsgs
*.twr
*.asy
*.gise
*.ncf
*/ipcore_dir/*.vhd
*.vho
*.xise
*/ipcore_dir/*/doc/*
*/ipcore_dir/*/example_design/*
*/ipcore_dir/*/implement/*
*/ipcore_dir/*/simulation/*
*.cgp
*/tmp/*
*.in
*.xreport
*/planAhead_run*
*.bit
*.xdc
*.xsl
*/_ngo/*
*.xwbt
*.ncd
*.bgn
*.bld
*.cmd_log
*.drc
*.lck
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twx
*.unroutes
*.ut
*.xdl
*.xpi
*.xbcd
*.vdbl
*.vdbx
*.cfi
*.mcs
*.prm
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.ipf
*.svf
*spl_bsp*
/drivers/usb_send_audio
/drivers/usb_verify_counter
/drivers/usb_verify_sr
/drivers/set_i2c_pll
/drivers/tty_recv
/drivers/usb_recv_gpio
/drivers/usb_recv_gpio_1
/drivers/adc_alignment_test
/drivers/adc_checksum_test
