

NET "CLOCK_25" LOC = P14;




NET "USB_REFCLK" LOC = P92;
NET "USB_RESET_B" LOC = P88;
NET "USB_STP" LOC = P87;
NET "USB_DIR" LOC = P85;
NET "USB_NXT" LOC = P84;



NET "LVDSCLK_P" LOC = P50;
NET "LVDSCLK_N" LOC = P51;

NET "CLKGEN_MOSFET" LOC = P12;

NET "AUDIO[0]" IOSTANDARD = LVCMOS33;
NET "AUDIO[1]" IOSTANDARD = LVCMOS33;
NET "GPIOR[0]" IOSTANDARD = LVCMOS33;
NET "GPIOR[1]" IOSTANDARD = LVCMOS33;
NET "GPIOR[2]" IOSTANDARD = LVCMOS33;
NET "GPIOR[4]" IOSTANDARD = LVCMOS33;
NET "GPIOR[3]" IOSTANDARD = LVCMOS33;
NET "GPIOR[5]" IOSTANDARD = LVCMOS33;
NET "GPIOR[6]" IOSTANDARD = LVCMOS33;
NET "GPIOR[7]" IOSTANDARD = LVCMOS33;
NET "GPIOR[8]" IOSTANDARD = LVCMOS33;
NET "USB_REFCLK" IOSTANDARD = LVCMOS33;
NET "USB_RESET_B" IOSTANDARD = LVCMOS33;
NET "USB_STP" IOSTANDARD = LVCMOS33;
NET "USB_DIR" IOSTANDARD = LVCMOS33;
NET "USB_NXT" IOSTANDARD = LVCMOS33;
NET "USB_DATA[0]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[1]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[2]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[3]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[4]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[5]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[6]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[7]" IOSTANDARD = LVCMOS33;
NET "GPIOB[0]" IOSTANDARD = LVCMOS33;
NET "GPIOB[1]" IOSTANDARD = LVCMOS33;
NET "GPIOB[2]" IOSTANDARD = LVCMOS33;
NET "GPIOB[3]" IOSTANDARD = LVCMOS33;
NET "GPIOB[4]" IOSTANDARD = LVCMOS33;
NET "LVDSCLK_N" IOSTANDARD = LVCMOS33;
NET "LVDSCLK_P" IOSTANDARD = LVCMOS33;
NET "LVDS_N[0]" IOSTANDARD = LVDS_33;
NET "LVDS_P[0]" IOSTANDARD = LVDS_33;
NET "LVDS_N[1]" IOSTANDARD = LVCMOS33;
NET "LVDS_P[1]" IOSTANDARD = LVCMOS33;
NET "LVDS_N[2]" IOSTANDARD = LVCMOS33;
NET "LVDS_P[2]" IOSTANDARD = LVCMOS33;
NET "ANALOG[0]" IOSTANDARD = LVCMOS33;
NET "ANALOG[1]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "SW[1]" IOSTANDARD = LVCMOS33;
NET "SW[0]" IOSTANDARD = LVCMOS33;
NET "CLOCK_25" IOSTANDARD = LVCMOS33;
NET "LED[1]" DRIVE = 12;
NET "LED[0]" DRIVE = 12;
NET "SW[1]" DRIVE = 12;
NET "SW[0]" DRIVE = 12;
NET "CLOCK_25" DRIVE = 12;
NET "LED[1]" SLEW = SLOW;
NET "LED[0]" SLEW = SLOW;
NET "SW[1]" SLEW = SLOW;
NET "SW[0]" SLEW = SLOW;
NET "CLOCK_25" SLEW = SLOW;
NET "AUDIO[0]" DRIVE = 24;
NET "AUDIO[1]" DRIVE = 24;
NET "GPIOR[0]" DRIVE = 12;
NET "GPIOR[1]" DRIVE = 12;
NET "GPIOR[2]" DRIVE = 12;
NET "GPIOR[4]" DRIVE = 12;
NET "GPIOR[3]" DRIVE = 12;
NET "GPIOR[5]" DRIVE = 12;
NET "GPIOR[6]" DRIVE = 12;
NET "GPIOR[7]" DRIVE = 12;
NET "GPIOR[8]" DRIVE = 12;
NET "USB_REFCLK" DRIVE = 12;
NET "USB_RESET_B" DRIVE = 12;
NET "USB_STP" DRIVE = 12;
NET "USB_DIR" DRIVE = 12;
NET "USB_NXT" DRIVE = 12;
NET "USB_DATA[0]" DRIVE = 12;
NET "USB_DATA[1]" DRIVE = 12;
NET "USB_DATA[2]" DRIVE = 12;
NET "USB_DATA[3]" DRIVE = 12;
NET "USB_DATA[4]" DRIVE = 12;
NET "USB_DATA[5]" DRIVE = 12;
NET "USB_DATA[6]" DRIVE = 12;
NET "USB_DATA[7]" DRIVE = 12;
NET "AUDIO[0]" SLEW = SLOW;
NET "AUDIO[1]" SLEW = SLOW;
NET "GPIOR[0]" SLEW = SLOW;
NET "GPIOR[1]" SLEW = SLOW;
NET "GPIOR[2]" SLEW = SLOW;
NET "GPIOR[4]" SLEW = SLOW;
NET "GPIOR[3]" SLEW = SLOW;
NET "GPIOR[5]" SLEW = SLOW;
NET "GPIOR[6]" SLEW = SLOW;
NET "GPIOR[7]" SLEW = SLOW;
NET "GPIOR[8]" SLEW = SLOW;
NET "USB_REFCLK" SLEW = FAST;
NET "USB_RESET_B" SLEW = FAST;
NET "USB_STP" SLEW = FAST;
NET "USB_DIR" SLEW = FAST;
NET "USB_NXT" SLEW = FAST;
NET "USB_DATA[0]" SLEW = FAST;
NET "USB_DATA[1]" SLEW = FAST;
NET "USB_DATA[2]" SLEW = FAST;
NET "USB_DATA[3]" SLEW = FAST;
NET "USB_DATA[4]" SLEW = FAST;
NET "USB_DATA[5]" SLEW = FAST;
NET "USB_DATA[6]" SLEW = FAST;
NET "USB_DATA[7]" SLEW = FAST;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/04/24
NET "CLOCK_25" TNM_NET = "CLOCK_25";
TIMESPEC TS_CLOCK_25 = PERIOD "CLOCK_25" 25 MHz HIGH 50%;
#pin2ucf - Sun Apr 24 15:35:17 2016
#The following constraints were newly added
NET "USB_DATA[5]" LOC = P78;
NET "LVDS_N[1]" LOC = P46;
NET "USB_DATA[6]" LOC = P75;
NET "LVDS_N[2]" LOC = P44;
NET "USB_DATA[7]" LOC = P74;
NET "GPIOR[0]" LOC = P102;
NET "GPIOR[1]" LOC = P101;
NET "GPIOR[2]" LOC = P100;
NET "GPIOR[3]" LOC = P99;
NET "LVDS_P[1]" LOC = P45;
NET "LVDS_P[2]" LOC = P43;
NET "GPIOR[5]" LOC = P97;
NET "LED[0]" LOC = P34;
NET "GPIOR[6]" LOC = P95;
NET "LED[1]" LOC = P35;
NET "GPIOR[7]" LOC = P94;
NET "GPIOR[8]" LOC = P93;
NET "SW[0]" LOC = P32;
NET "SW[1]" LOC = P33;
NET "ANALOG[0]" LOC = P41;
NET "ANALOG[1]" LOC = P40;
NET "GPIOB[0]" LOC = P59;
NET "USB_DATA[0]" LOC = P83;
NET "GPIOB[1]" LOC = P58;
NET "USB_DATA[1]" LOC = P82;
NET "GPIOB[2]" LOC = P57;
NET "USB_DATA[2]" LOC = P81;
NET "AUDIO[0]" LOC = P105;
NET "GPIOB[3]" LOC = P56;
NET "USB_DATA[3]" LOC = P80;
NET "AUDIO[1]" LOC = P104;
NET "GPIOB[4]" LOC = P55;
NET "USB_DATA[4]" LOC = P79;

NET "USB_DATA[7]" PULLUP;
NET "USB_DATA[6]" PULLUP;
NET "USB_DATA[5]" PULLUP;
NET "USB_DATA[4]" PULLUP;
NET "USB_DATA[3]" PULLUP;
NET "USB_DATA[2]" PULLUP;
NET "USB_DATA[1]" PULLUP;
NET "USB_DATA[0]" PULLUP;


NET "AUDIO[1]" OUT_TERM = UNTUNED_75;
NET "AUDIO[0]" OUT_TERM = UNTUNED_75;


NET "CLKGEN_SDA" LOC = P11;
NET "CLKGEN_SCL" LOC = P10;


NET "CLKGEN_SDA" IOSTANDARD = LVCMOS33;
NET "CLKGEN_SCL" IOSTANDARD = LVCMOS33;
NET "CLKGEN_SDA" DRIVE = 12;
NET "CLKGEN_SCL" DRIVE = 12;
NET "CLKGEN_SDA" SLEW = SLOW;
NET "CLKGEN_SCL" SLEW = SLOW;




NET "ADC[0]" LOC = P16;
NET "ADC[1]" LOC = P17;
NET "ADC[2]" LOC = P21;
NET "ADC[3]" LOC = P22;
NET "ADC[4]" LOC = P23;
NET "ADC[5]" LOC = P24;
NET "ADC[6]" LOC = P26;
NET "ADC[7]" LOC = P27;
NET "ADC[8]" LOC = P29;
NET "ADC[9]" LOC = P30;


NET "DAC_PSAVE_N" LOC = P9;
NET "DAC_R[0]" LOC = P8;
NET "DAC_R[1]" LOC = P7;
NET "DAC_R[2]" LOC = P6;
NET "DAC_R[3]" LOC = P5;
NET "DAC_R[4]" LOC = P2;
NET "DAC_R[5]" LOC = P1;
NET "DAC_R[6]" LOC = P144;
NET "DAC_R[7]" LOC = P143;
NET "DAC_R[8]" LOC = P142;
NET "DAC_R[9]" LOC = P141;
NET "DAC_G[0]" LOC = P140;
NET "DAC_G[1]" LOC = P139;
NET "DAC_G[2]" LOC = P138;
NET "DAC_G[3]" LOC = P137;
NET "DAC_G[4]" LOC = P134;
NET "DAC_G[5]" LOC = P133;
NET "DAC_G[6]" LOC = P132;
NET "DAC_G[7]" LOC = P131;
NET "DAC_G[8]" LOC = P127;
NET "DAC_G[9]" LOC = P126;
NET "DAC_BLANK_N" LOC = P124;
NET "DAC_SYNC_N" LOC = P123;
NET "DAC_B[0]" LOC = P121;
NET "DAC_B[1]" LOC = P120;
NET "DAC_B[2]" LOC = P119;
NET "DAC_B[3]" LOC = P118;
NET "DAC_B[4]" LOC = P117;
NET "DAC_B[5]" LOC = P116;
NET "DAC_B[6]" LOC = P115;
NET "DAC_B[7]" LOC = P114;
NET "DAC_B[8]" LOC = P112;
NET "DAC_B[9]" LOC = P111;



NET "CLKGEN_MOSFET" IOSTANDARD = LVCMOS33;
NET "ADC[9]" IOSTANDARD = LVCMOS33;
NET "ADC[8]" IOSTANDARD = LVCMOS33;
NET "ADC[7]" IOSTANDARD = LVCMOS33;
NET "ADC[6]" IOSTANDARD = LVCMOS33;
NET "ADC[5]" IOSTANDARD = LVCMOS33;
NET "ADC[4]" IOSTANDARD = LVCMOS33;
NET "ADC[3]" IOSTANDARD = LVCMOS33;
NET "ADC[2]" IOSTANDARD = LVCMOS33;
NET "ADC[1]" IOSTANDARD = LVCMOS33;
NET "ADC[0]" IOSTANDARD = LVCMOS33;
NET "ANALOG[2]" IOSTANDARD = LVCMOS33;
NET "DAC_PSAVE_N" IOSTANDARD = LVCMOS33;
NET "DAC_R[0]" IOSTANDARD = LVCMOS33;
NET "DAC_R[1]" IOSTANDARD = LVCMOS33;
NET "DAC_R[2]" IOSTANDARD = LVCMOS33;
NET "DAC_R[3]" IOSTANDARD = LVCMOS33;
NET "DAC_R[4]" IOSTANDARD = LVCMOS33;
NET "DAC_R[5]" IOSTANDARD = LVCMOS33;
NET "ADC[9]" DRIVE = 12;
NET "ADC[8]" DRIVE = 12;
NET "ADC[7]" DRIVE = 12;
NET "ADC[6]" DRIVE = 12;
NET "ADC[5]" DRIVE = 12;
NET "ADC[4]" DRIVE = 12;
NET "ADC[3]" DRIVE = 12;
NET "ADC[2]" DRIVE = 12;
NET "ADC[1]" DRIVE = 12;
NET "ADC[0]" DRIVE = 12;
NET "ANALOG[2]" DRIVE = 12;
NET "DAC_PSAVE_N" DRIVE = 12;
NET "DAC_R[0]" DRIVE = 12;
NET "DAC_R[1]" DRIVE = 12;
NET "DAC_R[2]" DRIVE = 12;
NET "DAC_R[3]" DRIVE = 12;
NET "DAC_R[4]" DRIVE = 12;
NET "DAC_R[5]" DRIVE = 12;
NET "ADC[9]" SLEW = SLOW;
NET "ADC[8]" SLEW = SLOW;
NET "ADC[7]" SLEW = SLOW;
NET "ADC[6]" SLEW = SLOW;
NET "ADC[5]" SLEW = SLOW;
NET "ADC[4]" SLEW = SLOW;
NET "ADC[3]" SLEW = SLOW;
NET "ADC[2]" SLEW = SLOW;
NET "ADC[1]" SLEW = SLOW;
NET "ADC[0]" SLEW = SLOW;
NET "ANALOG[2]" SLEW = SLOW;
NET "DAC_PSAVE_N" SLEW = SLOW;
NET "DAC_R[0]" SLEW = SLOW;
NET "DAC_R[1]" SLEW = SLOW;
NET "DAC_R[2]" SLEW = SLOW;
NET "DAC_R[3]" SLEW = SLOW;
NET "DAC_R[4]" SLEW = SLOW;
NET "DAC_R[5]" SLEW = SLOW;
NET "CLKGEN_SDA" PULLUP;
NET "CLKGEN_SCL" PULLUP;


NET "DAC_R[6]" IOSTANDARD = LVCMOS33;
NET "DAC_R[7]" IOSTANDARD = LVCMOS33;
NET "DAC_R[8]" IOSTANDARD = LVCMOS33;
NET "DAC_R[9]" IOSTANDARD = LVCMOS33;
NET "DAC_G[0]" IOSTANDARD = LVCMOS33;
NET "DAC_G[1]" IOSTANDARD = LVCMOS33;
NET "DAC_G[2]" IOSTANDARD = LVCMOS33;
NET "DAC_G[3]" IOSTANDARD = LVCMOS33;
NET "DAC_G[4]" IOSTANDARD = LVCMOS33;
NET "DAC_G[5]" IOSTANDARD = LVCMOS33;
NET "DAC_G[6]" IOSTANDARD = LVCMOS33;
NET "DAC_G[7]" IOSTANDARD = LVCMOS33;
NET "DAC_G[8]" IOSTANDARD = LVCMOS33;
NET "DAC_G[9]" IOSTANDARD = LVCMOS33;
NET "DAC_BLANK_N" IOSTANDARD = LVCMOS33;
NET "DAC_SYNC_N" IOSTANDARD = LVCMOS33;
NET "DAC_B[0]" IOSTANDARD = LVCMOS33;
NET "DAC_B[1]" IOSTANDARD = LVCMOS33;
NET "DAC_B[2]" IOSTANDARD = LVCMOS33;
NET "DAC_B[3]" IOSTANDARD = LVCMOS33;
NET "DAC_B[4]" IOSTANDARD = LVCMOS33;
NET "DAC_B[5]" IOSTANDARD = LVCMOS33;
NET "DAC_B[6]" IOSTANDARD = LVCMOS33;
NET "DAC_B[7]" IOSTANDARD = LVCMOS33;
NET "DAC_B[8]" IOSTANDARD = LVCMOS33;
NET "DAC_B[9]" IOSTANDARD = LVCMOS33;






NET "GPIOR[7]" PULLUP;
NET "GPIOR[8]" PULLUP;







#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/05/08
NET "internalclk" TNM_NET = "internalclk";
TIMESPEC TS_internalclk = PERIOD "internalclk" 15 ns HIGH 50 %;


NET "GPIOB[4]" PULLDOWN;
NET "GPIOB[3]" PULLDOWN;
NET "GPIOB[2]" PULLUP;
NET "GPIOB[1]" PULLUP;
NET "GPIOB[0]" PULLUP;




NET "LVDS_P[0]" LOC = P48;
NET "LVDS_N[0]" LOC = P47;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/06/12
NET "CLOCK_60" TNM_NET = "CLOCK_60";
TIMESPEC TS_CLOCK_60 = PERIOD "CLOCK_60" 60 MHz HIGH 50%;


NET "GPIOR[4]" LOC = P98;
NET "ADC_STBY" LOC = P15;
NET "ANALOG[2]" LOC = P39;

# PlanAhead Generated IO constraints 
NET "ADC_STBY" IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/06/14
NET "lcdc/o" TNM_NET = lcdc/o;
TIMESPEC TS_lcdc_o = PERIOD "lcdc/o" 20 MHz HIGH 50%;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/06/16
NET "adc_sc_f/o" TNM_NET = adc_sc_f/o;
TIMESPEC TS_adc_sc_f_o = PERIOD "adc_sc_f/o" 25 MHz HIGH 43%;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/06/16
NET "adc_sc/o" TNM_NET = adc_sc/o;
TIMESPEC TS_adc_sc_o = PERIOD "adc_sc/o" 75 MHz HIGH 50%;
