



NET "CLOCK_25" LOC = P14;




NET "USB_REFCLK" LOC = P92;
NET "USB_RESET_B" LOC = P88;
NET "USB_STP" LOC = P87;
NET "USB_DIR" LOC = P85;
NET "USB_NXT" LOC = P84;



NET "LVDSCLK_P" LOC = P50;
NET "LVDSCLK_N" LOC = P51;

NET "AUDIO[0]" IOSTANDARD = LVCMOS33;
NET "AUDIO[1]" IOSTANDARD = LVCMOS33;
NET "GPIOR[0]" IOSTANDARD = LVCMOS33;
NET "GPIOR[1]" IOSTANDARD = LVCMOS33;
NET "GPIOR[2]" IOSTANDARD = LVCMOS33;
NET "GPIOR[4]" IOSTANDARD = LVCMOS33;
NET "GPIOR[3]" IOSTANDARD = LVCMOS33;
NET "GPIOR[5]" IOSTANDARD = LVCMOS33;
NET "GPIOR[6]" IOSTANDARD = LVCMOS33;
NET "GPIOR[7]" IOSTANDARD = LVCMOS33;
NET "GPIOR[8]" IOSTANDARD = LVCMOS33;
NET "USB_REFCLK" IOSTANDARD = LVCMOS33;
NET "USB_RESET_B" IOSTANDARD = LVCMOS33;
NET "USB_STP" IOSTANDARD = LVCMOS33;
NET "USB_DIR" IOSTANDARD = LVCMOS33;
NET "USB_NXT" IOSTANDARD = LVCMOS33;
NET "USB_DATA[0]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[1]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[2]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[3]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[4]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[5]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[6]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[7]" IOSTANDARD = LVCMOS33;
NET "GPIOB[0]" IOSTANDARD = LVCMOS33;
NET "GPIOB[1]" IOSTANDARD = LVCMOS33;
NET "GPIOB[2]" IOSTANDARD = LVCMOS33;
NET "GPIOB[3]" IOSTANDARD = LVCMOS33;
NET "GPIOB[4]" IOSTANDARD = LVCMOS33;
NET "LVDSCLK_N" IOSTANDARD = LVCMOS33;
NET "LVDSCLK_P" IOSTANDARD = LVCMOS33;
NET "LVDS_N[0]" IOSTANDARD = LVCMOS33;
NET "LVDS_P[0]" IOSTANDARD = LVCMOS33;
NET "LVDS_N[1]" IOSTANDARD = LVCMOS33;
NET "LVDS_P[1]" IOSTANDARD = LVCMOS33;
NET "LVDS_N[2]" IOSTANDARD = LVCMOS33;
NET "LVDS_P[2]" IOSTANDARD = LVCMOS33;
NET "ANALOG[0]" IOSTANDARD = LVCMOS33;
NET "ANALOG[1]" IOSTANDARD = LVCMOS33;
NET "ANALOG[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "SW[1]" IOSTANDARD = LVCMOS33;
NET "SW[0]" IOSTANDARD = LVCMOS33;
NET "CLOCK_25" IOSTANDARD = LVCMOS33;
NET "LED[1]" DRIVE = 12;
NET "LED[0]" DRIVE = 12;
NET "SW[1]" DRIVE = 12;
NET "SW[0]" DRIVE = 12;
NET "CLOCK_25" DRIVE = 12;
NET "LED[1]" SLEW = SLOW;
NET "LED[0]" SLEW = SLOW;
NET "SW[1]" SLEW = SLOW;
NET "SW[0]" SLEW = SLOW;
NET "CLOCK_25" SLEW = SLOW;
NET "AUDIO[0]" DRIVE = 24;
NET "AUDIO[1]" DRIVE = 24;
NET "GPIOR[0]" DRIVE = 12;
NET "GPIOR[1]" DRIVE = 12;
NET "GPIOR[2]" DRIVE = 12;
NET "GPIOR[4]" DRIVE = 12;
NET "GPIOR[3]" DRIVE = 12;
NET "GPIOR[5]" DRIVE = 12;
NET "GPIOR[6]" DRIVE = 12;
NET "GPIOR[7]" DRIVE = 12;
NET "GPIOR[8]" DRIVE = 12;
NET "USB_REFCLK" DRIVE = 12;
NET "USB_RESET_B" DRIVE = 12;
NET "USB_STP" DRIVE = 12;
NET "USB_DIR" DRIVE = 12;
NET "USB_NXT" DRIVE = 12;
NET "USB_DATA[0]" DRIVE = 12;
NET "USB_DATA[1]" DRIVE = 12;
NET "USB_DATA[2]" DRIVE = 12;
NET "USB_DATA[3]" DRIVE = 12;
NET "USB_DATA[4]" DRIVE = 12;
NET "USB_DATA[5]" DRIVE = 12;
NET "USB_DATA[6]" DRIVE = 12;
NET "USB_DATA[7]" DRIVE = 12;
NET "AUDIO[0]" SLEW = SLOW;
NET "AUDIO[1]" SLEW = SLOW;
NET "GPIOR[0]" SLEW = SLOW;
NET "GPIOR[1]" SLEW = SLOW;
NET "GPIOR[2]" SLEW = SLOW;
NET "GPIOR[4]" SLEW = SLOW;
NET "GPIOR[3]" SLEW = SLOW;
NET "GPIOR[5]" SLEW = SLOW;
NET "GPIOR[6]" SLEW = SLOW;
NET "GPIOR[7]" SLEW = SLOW;
NET "GPIOR[8]" SLEW = SLOW;
NET "USB_REFCLK" SLEW = FAST;
NET "USB_RESET_B" SLEW = FAST;
NET "USB_STP" SLEW = FAST;
NET "USB_DIR" SLEW = FAST;
NET "USB_NXT" SLEW = FAST;
NET "USB_DATA[0]" SLEW = FAST;
NET "USB_DATA[1]" SLEW = FAST;
NET "USB_DATA[2]" SLEW = FAST;
NET "USB_DATA[3]" SLEW = FAST;
NET "USB_DATA[4]" SLEW = FAST;
NET "USB_DATA[5]" SLEW = FAST;
NET "USB_DATA[6]" SLEW = FAST;
NET "USB_DATA[7]" SLEW = FAST;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2016/04/24
NET "CLOCK_25" TNM_NET = "CLOCK_25";
TIMESPEC TS_CLOCK_25 = PERIOD "CLOCK_25" 30 ns HIGH 50 %;
#pin2ucf - Sun Apr 24 15:35:17 2016
#The following constraints were newly added
NET "LVDS_N[0]" LOC = P48;
NET "USB_DATA[5]" LOC = P78;
NET "LVDS_N[1]" LOC = P46;
NET "USB_DATA[6]" LOC = P75;
NET "LVDS_N[2]" LOC = P44;
NET "USB_DATA[7]" LOC = P74;
NET "GPIOR[0]" LOC = P102;
NET "GPIOR[1]" LOC = P101;
NET "GPIOR[2]" LOC = P100;
NET "LVDS_P[0]" LOC = P47;
NET "GPIOR[3]" LOC = P98;
NET "LVDS_P[1]" LOC = P45;
NET "GPIOR[4]" LOC = P99;
NET "LVDS_P[2]" LOC = P43;
NET "GPIOR[5]" LOC = P97;
NET "LED[0]" LOC = P34;
NET "GPIOR[6]" LOC = P95;
NET "LED[1]" LOC = P35;
NET "GPIOR[7]" LOC = P94;
NET "GPIOR[8]" LOC = P93;
NET "SW[0]" LOC = P32;
NET "SW[1]" LOC = P33;
NET "ANALOG[0]" LOC = P41;
NET "ANALOG[1]" LOC = P40;
NET "ANALOG[2]" LOC = P39;
NET "GPIOB[0]" LOC = P59;
NET "USB_DATA[0]" LOC = P83;
NET "GPIOB[1]" LOC = P58;
NET "USB_DATA[1]" LOC = P82;
NET "GPIOB[2]" LOC = P57;
NET "USB_DATA[2]" LOC = P81;
NET "AUDIO[0]" LOC = P105;
NET "GPIOB[3]" LOC = P56;
NET "USB_DATA[3]" LOC = P80;
NET "AUDIO[1]" LOC = P104;
NET "GPIOB[4]" LOC = P55;
NET "USB_DATA[4]" LOC = P79;

NET "USB_DATA[7]" PULLUP;
NET "USB_DATA[6]" PULLUP;
NET "USB_DATA[5]" PULLUP;
NET "USB_DATA[4]" PULLUP;
NET "USB_DATA[3]" PULLUP;
NET "USB_DATA[2]" PULLUP;
NET "USB_DATA[1]" PULLUP;
NET "USB_DATA[0]" PULLUP;


NET "AUDIO[1]" OUT_TERM = UNTUNED_75;
NET "AUDIO[0]" OUT_TERM = UNTUNED_75;
